/*===Aplicando CSS de forma Global ===*/
*{
    box-sizing: border-box;
    margin: 0;
}
img{
    width: 100%;
}
ul{
  list-style-type: none;  
  font-size: 20px;
}
a{
    text-decoration: none;
}
body{
    font-size: 10px;
}
/*=== Aplicadndo CSS al Encabezado===*/
.logo{
    width: 30%;
    
}
.encabezado{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.fondo{
    background-image: url('../img/banner-formulario.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    /*background-attachment: fixed;*/
}
nav.menuIzquierdo ul.opcionesIzquierda li a, nav.menuDerecho ul.opcionesDerecha li a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;  /*16px * 2*/
}

nav.menuIzquierdo ul.opcionesIzquierda li a:hover, nav.menuDerecho ul.opcionesDerecha li a:hover{
    color: blue;
    text-decoration: underline;
}


/*===Aplicando Media Queries ===*/
@media (min-width: 768px){
    .encabezado{
        height: 40vh;
    }
    .fondo{
        display: block;
        background-size: cover;
        height: 30vh;
    }
    .menu{
        display: flex;
    }
    .productos{
        display: flex;
    }
    .galeria{
        display: flex;
        flex-wrap: wrap;
    }
    .imagenGaleria{
        width: 50%;
        padding: 10px;
    }
    .encabezado{
        height: 10vh;
    }
    .fondo{
        height: 90vh;
    }
    .logo{
        width: 20%;
    }
}

@media (min-width: 992px) { 
    .encabezado{
        justify-content: space-between;
    }
    .logo{
        width: 10%;
        padding-left: 10px;
    }
    
    .menuIzquierdo{
        width: 45%;
    }
    .menuDerecho{
        width: 30%;
    }
    nav.menuIzquierdo ul.opcionesIzquierda {
        display: flex;
        justify-content: space-around;
    }
    nav.menuDerecho ul.opcionesDerecha{
        display: flex;
        justify-content: space-around;
    }
    .menu{
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .imagenGaleria{
        width: 25%;
    }
 }